.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;*/
}

.flex > .row {
  width: 100%;
}

.row.expanded {
  max-width: 90%;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/banner-home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 8%;
  -ms-align-items: flex-end;
  -moz-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

header:before {
  pointer-events: none;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);
}

header .toggle-nav {
  position: fixed;
  right: 30px;
  top: 30px;
  display: block;
  width: 32px;
  z-index: 20;
  height: 27px;
}

header .toggle-nav:hover span:nth-child(3) {
  width: 100%;
}

header .toggle-nav.white-children span {
  background-color: white;
}

header .toggle-nav.black-children span {
  background-color: black;
}

header .toggle-nav > span {
  margin-bottom: 5px;
  width: 100%;
  height: 4px;
  display: block;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header .toggle-nav > span:nth-child(3) {
  width: 70%;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .toggle-nav > span:last-child {
  opacity: 0;
}

header nav {
  background-color: transparent;
  position: fixed;
  height: 100vh;
  z-index: 10;
  right: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  padding: 15% 8% 4%;
  -ms-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

header nav ul {
  text-align: right;
  list-style: none;
  margin: 0;
  opacity: 0;
  -ms-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  -ms-transition: all 0.8s 0.2s;
  -moz-transition: all 0.8s 0.2s;
  -webkit-transition: all 0.8s 0.2s;
  transition: all 0.8s 0.2s;
}

header nav ul > li {
  font-family: "Poppins", sans-serif;
  font-size: 1.65rem;
  color: white;
  line-height: 2;
  font-weight: 300;
}

header nav ul > li > a {
  position: relative;
  color: white;
  -ms-transition: color 0.8s;
  -moz-transition: color 0.8s;
  -webkit-transition: color 0.8s;
  transition: color 0.8s;
}

header nav ul > li > a:hover {
  color: #1E8DEE;
}

header nav ul > li > a.active:before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: white;
  top: 50%;
  left: 125%;
  position: absolute;
}

header h1 {
  font-family: "Poppins", sans-serif;
  position: relative;
  font-size: 2.5rem;
  color: white;
  z-index: 9;
  margin: 0;
}

header h1 a {
  font-size: 60%;
  color: white;
}

.menu-open nav {
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: all;
  opacity: 1;
}

.menu-open nav ul {
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.menu-open .toggle-nav span {
  width: 100% !important;
}

.menu-open .toggle-nav span:nth-child(1), .menu-open .toggle-nav span:nth-child(2) {
  opacity: 0;
  position: absolute;
}

.menu-open .toggle-nav span:nth-child(3), .menu-open .toggle-nav span:nth-child(4) {
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 0;
}

.menu-open .toggle-nav span:nth-child(3) {
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-open .toggle-nav span:nth-child(4) {
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.content {
  padding: 150px 0;
  width: 100%;
}

.main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #2F2F2F;
  font-size: 2.25rem;
  margin-bottom: 3rem;
}

.section-separator {
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 50px;
}

.section-separator img {
  border-radius: 50%;
  margin: 0 15px 0 0;
  max-width: 45px;
}

.section-separator span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #2F2F2F;
  line-height: 1.5;
  font-size: 15px;
}

.about-me {
  font-family: "Poppins", sans-serif;
  margin-bottom: 3rem;
  font-size: 1.35rem;
  font-weight: 300;
  color: #2F2F2F;
  line-height: 1.6;
}

.subtitle {
  font-family: "Poppins", sans-serif;
  margin-bottom: 4rem;
  font-size: 1.15rem;
  font-weight: 600;
  color: #2F2F2F;
}

.skill-bar {
  margin-bottom: 30px;
  position: relative;
}

.skill-bar:last-child {
  margin-bottom: 6rem;
}

.skill-bar .empty-bar {
  border-radius: 25px;
  height: 8px;
  width: 100%;
  background-color: #cccccc;
  top: 0;
  left: 0;
  padding-bottom: 8px;
  margin-bottom: 4px;
}

.skill-bar .percentage-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 0;
  background-color: #1E8DEE;
  border-radius: 25px;
  -ms-transition: width 2s ease-out;
  -moz-transition: width 2s ease-out;
  -webkit-transition: width 2s ease-out;
  transition: width 2s ease-out;
}

.skill-bar .percentage-bar:after {
  content: attr(title);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -22px;
  background-color: white;
  border: 4px solid #1E8DEE;
  line-height: 36px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #2F2F2F;
}

.skill-bar .label-skill {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: #2F2F2F;
  font-weight: 600;
  display: block;
  line-height: 1;
  margin-top: 10px;
}

.relative-parent {
  position: relative;
}

.offset-left-image {
  position: absolute;
  left: -70%;
  top: 45%;
  -ms-transform: scale(-100%, -50%);
  -moz-transform: scale(-100%, -50%);
  -webkit-transform: scale(-100%, -50%);
  transform: scale(-100%, -50%);
  -ms-transition: all 2s;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
  opacity: 0;
}

@media (max-width: 800px) {
  .offset-left-image {
    display: none;
  }
}

.coffee.show {
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 1;
}
